@tailwind base;
@tailwind components;
@tailwind utilities;

.animated-text {
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #55C998, #22F169);
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-animation 3s infinite linear;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
